.checkout {
    display: flex;
    padding: 20px;
    border: white;
    height: max-content;
    background-color: white;
}

.checkout__title {
    margin-left: 10x;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.checkout_ad {
    object-fit: contain;
    width: 100%;
    /* height: 10rem; */
    margin-bottom: 10px;
}